*{
    margin-left: 0;
    padding:0;
    box-sizing:border-box;
}

/* regole centratura contenitore */

#container{
    width: 98%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

/* inserimento immagini */

#bagnarolo{
    background-image:url(../img/Bagnoregio.jpg);
}

#positano{
    background-image:url(../img/positano.jpg);
}

#venezia{
    background-image:url(../img/venezia.jpg);
}

/* regole immagini di contenimento e ombreggiatura */
.landscape{
    position: relative;
    background-size: cover;
    height: 100vh;
    box-shadow: 5px 5px 2.5px black;
}

p{
    text-shadow: 3px 3px black;
}

/* ho provato a dare l'opacità ma non funziona */
.opacity{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
    z-index: 100;
}

div.row .write{
    position: absolute;
    color: white;
    font-size: 80px;
    /* border: solid 1px black; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
}

/* distanziamento blocchi */
.row{
    margin-bottom: 30px;
}
